@model EsettMvcIntegration.Models.FeeDataModel

<h2>Fee Details</h2>

<div>
    <h4>@Model.Country - @Model.Timestamp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Imbalance Fee
        </dt>
        <dd class = "col-sm-10">
            @Model.ImbalanceFee
        </dd>
        <dt class = "col-sm-2">
            Hourly Imbalance Fee
        </dt>
        <dd class = "col-sm-10">
            @Model.HourlyImbalanceFee
        </dd>
        <dt class = "col-sm-2">
            Peak Load Fee
        </dt>
        <dd class = "col-sm-10">
            @Model.PeakLoadFee
        </dd>
        <dt class = "col-sm-2">
            Volume Fee
        </dt>
        <dd class = "col-sm-10">
            @Model.VolumeFee
        </dd>
        <dt class = "col-sm-2">
            Weekly Fee
        </dt>
        <dd class = "col-sm-10">
            @Model.WeeklyFee
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("Index")">Back to List</a>
</div>
