@model IEnumerable<EsettMvcIntegration.Models.FeeDataModel>

<h2>Fee Data</h2>

<table class="table">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Country</th>
            <th>Peak Load Fee</th>
            <th>Weekly Fee</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.feeAllDataModel.timestamp</td>
            <td>@item.feeAllDataModel.country</td>
            <td>@item.feeAllDataModel.peakLoadFee</td>
            <td>@item.feeAllDataModel.weeklyFee</td>
            <td><a href="@Url.Action("Details", new { id = item.Id })">Details</a></td>
        </tr>
    }
    </tbody>
</table>
